#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <175>;
    flavor = "balanced";
};

&trackball {
    // automouse-layer = <3>;

    scroll-layers = <7>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_caps_word {
            bindings = <&caps_word>;
            key-positions = <38 41>;
        };
    };

    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Mod";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
        };

        hms: homerow_mod_shift {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Mod Shift";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
        };

        thl: toggle_hold_layer {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Toggle Hold Layer";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        thumb_lt: thumb_lt {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Thumb Layer Tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
        };

        index_lt: index_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "Index Layer Tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
        };

        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&kp Q              &kp W           &kp E               &kp R               &kp T                                                   &kp Y            &kp U                &kp I                &kp O            &kp P
&hms LEFT_SHIFT A  &hm LEFT_ALT S  &hm LEFT_CONTROL D  &hm LEFT_COMMAND F  &lt 3 G      &mo 5                   &thl 5 3           &kp H            &hm RIGHT_COMMAND J  &hm RIGHT_CONTROL K  &hm RIGHT_ALT L  &hms RIGHT_SHIFT SEMI
&kp Z              &kp X           &kp C               &kp V               &kp B        &lt 3 LEFT_BRACKET      &kp RIGHT_BRACKET  &kp N            &kp M                &kp COMMA            &kp DOT          &kp SLASH
&lt 6 F14          &kp LEFT_WIN    &mo 4               &thumb_lt 4 TAB     &lt 1 SPACE  &lt 2 ESCAPE            &lt 2 ENTER        &lt 1 BACKSPACE                                                             &mo 5
            >;

            display-name = "qwerty";
        };

        Symbols {
            bindings = <
&kp TILDE  &kp AMPERSAND   &kp ASTERISK     &kp AT       &none                    &none              &kp UNDER   &kp EQUAL             &kp PLUS               &kp PIPE
&kp GRAVE  &kp LBKT        &kp RBKT         &kp PERCENT  &none  &none      &none  &kp DOUBLE_QUOTES  &kp MINUS   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH
&kp EXCL   &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp CARET    &none  &none      &none  &kp SINGLE_QUOTE   &kp DOLLAR  &kp LESS_THAN         &kp GREATER_THAN       &kp HASH
&none      &none           &none            &none        &none  &none      &none  &none                                                                       &none
            >;

            display-name = "symbols";
        };

        Nav {
            bindings = <
&none           &none         &none             &none             &kp LG(EQUAL)                       &kp LG(LS(Z))  &kp LG(C)       &kp LG(X)     &kp LG(V)  &kp LG(Z)
&kp LEFT_SHIFT  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_COMMAND  &kp LG(MINUS)     &none      &none  &kp LEFT       &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &none
&none           &none         &none             &none             &kp LG(NUMBER_0)  &none      &none  &kp HOME       &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &none
&none           &none         &none             &none             &none             &none      &none  &none                                                   &none
            >;

            display-name = "nav";
        };

        Mouse {
            bindings = <
&none           &none         &none             &none             &none                     &none  &none     &none      &none      &none
&kp LEFT_SHIFT  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_COMMAND  &none  &none      &tog 3  &none  &mkp MB1  &mkp MCLK  &mkp RCLK  &mo 7
&none           &none         &none             &none             &none  &none      &none   &none  &none     &none      &none      &none
&none           &none         &none             &none             &none  &mo 7      &none   &none                                  &none
            >;

            display-name = "mouse";
        };

        Numbers {
            bindings = <
&none   &kp N9  &kp N8  &kp N7  &none                            &none          &kp F9  &kp F10  &kp F11  &kp F12
&kp N0  &kp N6  &kp N5  &kp N4  &none      &none      &none      &none          &kp F5  &kp F6   &kp F7   &kp F8
&none   &kp N3  &kp N2  &kp N1  &none      &none      &none      &none          &kp F1  &kp F2   &kp F3   &kp F4
&none   &none   &none   &none   &kp SPACE  &none      &kp ENTER  &kp BACKSPACE                            &none
            >;

            display-name = "numbers";
        };

        Config {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &kp C_MUTE   &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none           &none
&bt BT_CLR    &bt BT_CLR_ALL  &out OUT_USB  &out OUT_BLE  &none         &none      &none  &none        &kp C_PREV         &kp C_PP         &kp C_NEXT      &none
&none         &studio_unlock  &soft_off     &sys_reset    &bootloader   &none      &none  &bootloader  &sys_reset         &soft_off        &studio_unlock  &none
&none         &none           &none         &none         &none         &none      &none  &none                                                            &none
            >;

            display-name = "config";
        };

        Macros {
            bindings = <
&kp LC(LG(Q))  &none  &none  &kp LG(LS(NUMBER_4))  &kp LG(LS(N5))                    &none  &none  &kp LG(LA(I))  &none  &none
&kp LG(A)      &none  &none  &none                 &none           &none      &none  &none  &none  &none          &none  &none
&none          &none  &none  &none                 &none           &none      &none  &none  &none  &none          &none  &none
&none          &none  &none  &none                 &none           &none      &none  &none                               &none
            >;

            display-name = "macros";
        };

        SCROLL {
            bindings = <
&none  &none  &none  &none  &none                    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none                       &none
            >;

            display-name = "scroll";
        };
    };
};
